$nav-font:  'Archivo Narrow', sans-serif;
$font-primary: 'Open Sans', sans-serif;



$white: #FFFFFF;
$heading:#6A6A6A;
$light:#E2E2E2;
$background:#E5E5E5;
$text-color:#8D8D8D;
$primary-color:#C32C72;
$block-color: #F4F3EE;